{% extends "blog/base.html" %}
{% load static %}
{% block title %} {% if article is None %} 404 {% else %} {{ article.title }} {% endif %} {% endblock %}

{% block extrastyle %}
{#    <link href="{% static 'blog/css/blog.list.css' %}" rel="stylesheet">#}
{% endblock %}

{% block body %}


    <p>详情页</p>

    <h4>标题： {{ article.title }}</h4>

    <p>内容：{{ article.content }}</p>

    <video src="{{ article.video_url }}" controls="controls" loop="loop" width="100%">
    您的浏览器不支持 video 标签。
    </video>

{% endblock %}